<div id="<%= dom_id campaign_schedule_d %>">

  <p>
    <strong>Creditor:</strong>
    <%= campaign_schedule_d.creditor %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= campaign_schedule_d.purpose %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= campaign_schedule_d.amount %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= campaign_schedule_d.campaign_id %>
  </p>

  <hr />

</div>
