<tr id="<%= dom_id campaign_schedule_d %>">
  <td scope="row"><%= campaign_schedule_d.date %></td>
  <td class="campaign-table-data"><%= campaign_schedule_d.creditor %></td>
  <td class="campaign-table-data"><%= campaign_schedule_d.purpose %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_d.amount) %></td>
</tr>
