<%= form_with(model: campaign_schedule_d) do |form| %>
  <% if campaign_schedule_d.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(campaign_schedule_d.errors.count, "error") %> prohibited this campaign_schedule_d from being saved:</h2>

      <ul>
        <% campaign_schedule_d.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :creditor, style: "display: block" %>
    <%= form.text_area :creditor %>
  </div>

  <div>
    <%= form.label :purpose, style: "display: block" %>
    <%= form.text_area :purpose %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :campaign_id, style: "display: block" %>
    <%= form.text_field :campaign_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
