<p style="color: green"><%= notice %></p>

<%= render @campaign_schedule_d %>

<div>
  <%= link_to "Edit this campaign schedule d", edit_campaign_schedule_d_path(@campaign_schedule_d) %> |
  <%= link_to "Back to campaign schedule ds", campaign_schedule_ds_path %>

  <%= button_to "Destroy this campaign schedule d", @campaign_schedule_d, method: :delete %>
</div>
