<div id="<%= dom_id campaign_schedule_b %>">
  <p>
    <strong>Campaign:</strong>
    <%= campaign_schedule_b.campaign_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= campaign_schedule_b.date %>
  </p>

  <p>
    <strong>Payee:</strong>
    <%= campaign_schedule_b.payee %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= campaign_schedule_b.type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign_schedule_b.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= campaign_schedule_b.amount %>
  </p>

</div>
