<div id="<%= dom_id campaign_schedule_b %>">
  <p>
    <strong>Date:</strong>
    <%= campaign_schedule_b.date %>
  </p>

  <p>
    <strong>Payee:</strong>
    <%= campaign_schedule_b.payee %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= campaign_schedule_b.schedule_b_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign_schedule_b.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= format_money(campaign_schedule_b.amount) %>
  </p>

  <hr />

</div>
