<div class="wrapper">
  <%= render "shared/sidebar" %>

  <div class="main">

    <div class="content">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Campaigns</li>
          <li class="breadcrumb-item" aria-current="page"><%= @campaign_report.campaign.name %></li>
          <li class="breadcrumb-item active"><%= @campaign_report.report_type %></li>
        </ol>
      </nav>

      <p style="color: green"><%= notice %></p>
      <div class="p-2">
        <%= render @campaign_report %>
        <%= link_to "Schedule A", campaign_campaign_report_campaign_schedule_as_path(campaign_report_id: @campaign_report.id), class: "campaign-schedule-link" %>
        <%= link_to "Schedule A-1", campaign_campaign_report_campaign_schedule_a1s_path(campaign_report_id: @campaign_report.id), class: "campaign-schedule-link" %>
        <%= link_to "Schedule B", campaign_campaign_report_campaign_schedule_bs_path(campaign_report_id: @campaign_report.id), class: "campaign-schedule-link" %>
        <%= link_to "Schedule C", campaign_campaign_report_campaign_schedule_cs_path(campaign_report_id: @campaign_report.id), class: "campaign-schedule-link" %>
        <%= link_to "Schedule D", campaign_campaign_report_campaign_schedule_ds_path(campaign_report_id: @campaign_report.id), class: "campaign-schedule-link" %>
        <%= link_to "Schedule F", campaign_campaign_report_campaign_schedule_fs_path(campaign_report_id: @campaign_report.id), class: "campaign-schedule-link" %>
      </div>

      <div class="p-3 schedule-display">
        <div class="h3 py-3"><strong>Schedule B: Expenditures</strong></div>
        <ul class="schedule-instructions">
          <li>Enter the date, payee, expenditure type, and amount for each expenditure made during the report period.</li>
          <li>All expenditures require a remark. Enter a description of the goods and services purchased.</li>
          <li>For expenditures made with the candidate’s or authorized individual’s personal funds and that are reimbursed within the same report period, enter them as reimbursed expenditures (Payee Name is the vendor and the person who was reimbursed is named in the Remark field). If expenditures made by others are not reimbursed by the end of the report period, they are either reported as in-kind contributions or unpaid debts and obligations.</li>
          <li>If you use campaign funds to pay or reimburse an immediate family member or household member for goods or services they provided or purchased for the campaign, you must list the family or household relationship in the remarks section.</li>
          <li><strong>Only enter expenditures that have actually been paid. Enter unpaid debts and obligations on Schedule D.</strong></li>
        </ul>

        <table id="campaigns" class="table">
            <thead>
                <tr>
                    <th scope="col" class="campaign-table-header">Date</th>
                    <th scope="col" class="campaign-table-header">Name of Payee</th>
                    <th scope="col" class="campaign-table-header">Type</th>
                    <th scope="col" class="campaign-table-header">Remark</th>
                    <th scope="col" class="campaign-table-header">Amount</th>
                </tr>
            </thead>
            <tbody>
              <%= render @campaign_report.campaign_schedule_bs %>
            </tbody>
        </table>
      </div>

      <div class="p-3">
        <br />
        <%= link_to "Back to campaign reports", campaign_campaign_reports_path(@campaign_report.campaign.id) %>
        <%# <%= button_to "Destroy this campaign report", [@campaign_report.campaign, @campaign_report], method: :delete, class: "border border-danger" %>
      </div>
    </div>
  </div>
</div>