<p style="color: green"><%= notice %></p>

<%= render @campaign_schedule_b %>

<div>
  <%= link_to "Edit this campaign schedule b", edit_campaign_schedule_b_path(@campaign_schedule_b) %> |
  <%= link_to "Back to campaign schedule bs", campaign_schedule_bs_path %>

  <%= button_to "Destroy this campaign schedule b", @campaign_schedule_b, method: :delete %>
</div>
