<p style="color: green"><%= notice %></p>

<%= render @campaign_schedule_f %>

<div>
  <%= link_to "Edit this campaign schedule f", edit_campaign_schedule_f_path(@campaign_schedule_f) %> |
  <%= link_to "Back to campaign schedule fs", campaign_schedule_fs_path %>

  <%= button_to "Destroy this campaign schedule f", @campaign_schedule_f, method: :delete %>
</div>
