<div class="sidebar">
    <div class="sidebar-header">
        <%= link_to "/" do %>
            <%= show_svg('Logo.svg')%>
        <% end %>
    </div>

    <ul class="list-unstyled-components">
        <li class="sidebar-nav-item"><%= link_to "Home", root_path %></li>
        <li class="sidebar-nav-item"><%= link_to "Candidates", campaigns_path %></li>
        <li class="sidebar-nav-item"><%= link_to "Committees", campaigns_path %></li>
    </ul>
</div>