<tr id="<%= dom_id campaign_schedule_c %>">
  <td scope="row"><%= campaign_schedule_c.lender %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_c.balance_at_beginning) %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_c.amount_loaned) %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_c.amount_repaid) %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_c.amount_forgiven) %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_c.balance) %></td>
</tr>
