<div id="<%= dom_id campaign_schedule_c %>">
  <p>
    <strong>Campaign:</strong>
    <%= campaign_schedule_c.campaign_id %>
  </p>

  <p>
    <strong>Lender:</strong>
    <%= campaign_schedule_c.lender %>
  </p>

  <p>
    <strong>Balance at beginning:</strong>
    <%= campaign_schedule_c.balance_at_beginning %>
  </p>

  <p>
    <strong>Amount loaned:</strong>
    <%= campaign_schedule_c.amount_loaned %>
  </p>

  <p>
    <strong>Amount repaid:</strong>
    <%= campaign_schedule_c.amount_repaid %>
  </p>

  <p>
    <strong>Amount forgiven:</strong>
    <%= campaign_schedule_c.amount_forgiven %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= campaign_schedule_c.balance %>
  </p>

</div>
