<p style="color: green"><%= notice %></p>

<h2>Elections</h2>

<div id="elections">
  <% @elections.each do |election| %>
    <p>
      <h3><%= link_to election.title, election %></h3>
    </p>
  <% end %>
</div>

<div>
  <p>Bulk upload election data</p>
  <%= form_with url: bulk_upload_url do |form| %>
    <%= form.label :bulk_data, "Bulk Election Data" %>
    <%= form.file_field :bulk_data, style: "display: block", accept: "application/zip" %>
    <%= form.submit "Submit" %>
  <% end %>
</div>
<%= link_to "New election", new_election_path %>
