<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "/" do %>
          <%= show_svg('Logo.svg')%>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to "About", "/"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", "/"%>
        </li>
        <li class="nav-item">
          <%= link_to "Login", "/"%>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="container">
  <div class="input-group">
    <div class="input-group-addon">
      <span class="input-group-text" id="basic-addon1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </span>
    </div>
    <input type="text" class="form-control" placeholder="Search for candidates, committees, filings…" aria-label="Search" aria-describedby="basic-addon1">
  </div>
  
  <div class="container-fluid">
    <div class="row mx-auto">
      <div class="col-md-2 col-sm-2">
        <div class="form-group text-left">
          <label for="exampleFormControlSelect1">Location</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group text-left">
          <label for="exampleFormControlSelect1">Election</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="form-group text-left">
          <label for="exampleFormControlSelect1">Data Type</label>
          <select class="form-control" id="exampleFormControlSelect3">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group text-center">
          <div>view all _</div>
          <div>view all _</div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
          
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
</section>

<h2>Elections</h2>

<div id="elections">
  <% @elections.each do |election| %>
    <p>
      <h3><%= link_to election.title, election %></h3>
    </p>
  <% end %>
</div>

<%= link_to "New election", new_election_path %>
