<div id="<%= dom_id contribution %>">
  <p>
    <strong>Contributor:</strong>
    <%= contribution.contributor_id %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= contribution.campaign_id %>
  </p>

  <p>
    <strong>Committee:</strong>
    <%= contribution.committee_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= contribution.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contribution.description %>
  </p>

</div>
