<%= form_with(model: contribution) do |form| %>
  <% if contribution.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
        <% contribution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contributor_id, style: "display: block" %>
    <%= form.text_field :contributor_id %>
  </div>

  <div>
    <%= form.label :campaign_id, style: "display: block" %>
    <%= form.text_field :campaign_id %>
  </div>

  <div>
    <%= form.label :committee_id, style: "display: block" %>
    <%= form.text_field :committee_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
