<div id="<%= dom_id committee %>">
  <p>
    <strong>Election:</strong>
    <%= committee.election_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= committee.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= committee.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= committee.city %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= committee.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= committee.email %>
  </p>

  <p>
    <strong>Office:</strong>
    <%= committee.office %>
  </p>

</div>
