<div id="<%= dom_id campaign_treasurer %>">
  <p>
    <strong>Campaign:</strong>
    <%= campaign_treasurer.campaign_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= campaign_treasurer.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= campaign_treasurer.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= campaign_treasurer.city %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= campaign_treasurer.email %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= campaign_treasurer.telephone %>
  </p>

</div>
