<div id="<%= dom_id campaign_schedule_a %>">
  <p>
    <strong>Campaign:</strong>
    <%= campaign_schedule_a.campaign_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= campaign_schedule_a.date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= campaign_schedule_a.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= campaign_schedule_a.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= campaign_schedule_a.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= campaign_schedule_a.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= campaign_schedule_a.zip %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= campaign_schedule_a.occupation %>
  </p>

  <p>
    <strong>Employer:</strong>
    <%= campaign_schedule_a.employer %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= campaign_schedule_a.type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= campaign_schedule_a.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign_schedule_a.description %>
  </p>

</div>
