<tr id="<%= dom_id campaign_schedule_a %>">
  <td scope="row"><%= campaign_schedule_a.date %></td>

  <td class="campaign-table-data"><%= campaign_schedule_a.name %>
  <% if campaign_schedule_a.address %>
    <BR><%= campaign_schedule_a.address %><BR><%= campaign_schedule_a.city %><%= campaign_schedule_a.state ? ", " : "" %><%= campaign_schedule_a.state %><%= campaign_schedule_a.state ? " " : "" %><%= campaign_schedule_a.zip %>
  <% end %>
  </td>
  <td class="campaign-table-data"><%= campaign_schedule_a.occupation %></td>
  <td class="campaign-table-data"><%= campaign_schedule_a.schedule_a_type %>: <%= campaign_schedule_a.type_description %></td>
  <td class="campaign-table-data"><%= format_money(campaign_schedule_a.amount) %></td>
</tr>
