<div class="wrapper">
  <%= render "shared/sidebar" %>

  <div class="main">

    <div class="content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Campaigns</li>
          <li class="breadcrumb-item active" aria-current="page"><%= campaign.name %></li>
        </ol>
      </nav>

      <div id="<%= dom_id campaign %>" class="candidate-header">
        <h3 class="candidate-name-header">
          <div><%= campaign.name %></div>
        </h3>
        <div>
          <%= campaign.office + " Candidate" %>
        </div>
        <div>
          <%= campaign.election.title %>
        </div>
      </div>

      <div class="container-fluid">
          <div class="row-fluid">
            <div class="span8">
                <ul class="nav nav-tabs">
                    <li>
                      <a href="#summary" data-target="#summary" data-toggle="tab">Summary</a>
                    </li>
                    <li>
                      <a href="#filings" data-target="#filings" data-toggle="tab">Filings</a>
                    </li>
                    <li>
                      <a href="#contact" data-target="#contact" data-toggle="tab">Contact</a>
                    </li>
                </ul>
            </div>
          </div>

          <div class="campaign-summary-content">
              <div class="financial-totals-box">
                <h2>Financial Totals</h2>
                <div class="financial-totals-container">
                  <div class="financial-totals-content">
                    <h3>Cash Contributions</h3>
                    <div>35000</div>
                  </div>
                  <div class="financial-totals-content">
                    <h3>In-Kind Contributions</h3>
                    <div>35000</div>
                  </div>
                  <div class="financial-totals-content">
                    <h3>Expenditures</h3>
                    <div>35000</div>
                  </div>
                  <div class="financial-totals-content">
                    <h3>Loans</h3>
                    <div>35000</div>
                  </div>
                  <div class="financial-totals-content">
                    <h3>Cash-on-Hand</h3>
                    <div>35000</div>
                  </div>
                </div>
              </div>

              <div class="top-contributors-box">
                <h2>Top Contributors</h2>
                <div class="top-contributors-container">
                  <ol>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ol>
                </div>
              </div>

          </div>

      </div>

      <hr>

    </div>

  </div>
</div>