<div class="wrapper">
  <%= render "shared/sidebar" %>

  <div class="main">

    <div class="content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Campaigns</li>
          <li class="breadcrumb-item active" aria-current="page"><%= campaign.name %></li>
        </ol>
      </nav>

      <div id="<%= dom_id campaign %>" class="candidate-header">
        <h3 class="candidate-name-header">
          <div><%= campaign.name %></div>
        </h3>
        <div>
          <%= campaign.office + " Candidate" %>
        </div>
        <div>
          <%= campaign.election.title %>
        </div>
      </div>

      <div class="container-fluid">
          <div class="row-fluid">
              <div class="span8 well">
                  <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#home" data-target="#home" data-toggle="tab">Home</a>
                      </li>
                      <li>
                        <a href="#profile" data-target="#profile" data-toggle="tab">Profile</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane active fade in" id="home">home tab content</div>
                      <div class="tab-pane" id="profile">profile tab content</div>
                  </div>
              </div>
          </div>
      </div>

      <hr>

    </div>

  </div>
</div>
