<div id="<%= dom_id campaign %>">
  <p>
    <strong>Election:</strong>
    <%= campaign.election_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= campaign.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= campaign.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= campaign.city %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= campaign.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= campaign.email %>
  </p>

  <p>
    <strong>Office:</strong>
    <%= campaign.office %>
  </p>

</div>
