<%= form_tag(campaigns_path, method: :get) do %>
  <div class="input-group input-group-home-custom">
      <span class="input-group-text search-icon" id="basic-addon1">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </span>
      <%= text_field_tag :search, params[:search], {placeholder: 'Search for candidates & committees', :class => 'form-control campaign-searchbar'} %>
  </div>

  <div class="filter-container">
    <div class="dropdown">
      <div class="form-group-large text-left">
        <label for="exampleFormControlSelect1">Office</label>
        <%= select_tag :office_filter, options_from_collection_for_select(Campaign.select('distinct office'), 'office', 'office'), {:class => 'btn btn-secondary dropdown-toggle', :prompt => 'Filter by Office'} %>
      </div>
    </div>
    <div class="dropdown">
      <div class="form-group-large text-left">
        <label for="exampleFormControlSelect1">Election</label>
        <%= select_tag :election_filter, options_from_collection_for_select(Election.all, 'id', 'title'), {:class => 'btn btn-secondary dropdown-toggle', :prompt => 'Filter by Election'} %>
      </div>
    </div>
    <%# <div class="dropdown">
      <div class="form-group-large text-left">
        <label for="exampleFormControlSelect1">Location</label>
        <%= select_tag :location_filter, options_from_collection_for_select(Campaign.select('distinct city'), 'city', 'city'), {:class => 'btn btn-secondary dropdown-toggle', :prompt => 'Filter by City'} %>
      <%# </div> %>
    <%# </div> %>
    <div class="input-group-append btn-search-container">
      <%= submit_tag "Search", class: "btn btn-primary btn-custom-color" %>
    </div>
  </div> 
<% end %>