<%= form_with(model: campaign) do |form| %>
  <% if campaign.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
        <% campaign.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group-campaign col-md-6">
    <%= form.label :election_id, style: "display: block" %>
    <%= form.collection_select :election_id, Election.order(:title), :id, :title %>
  </div>

  <div class="form-group-campaign col-md-6">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div  class="form-group-campaign col-md-6">
    <%= form.label "Address", style: "display: block" %>
    <%= form.text_field :street, class: "form-control" %>
  </div>

  <div  class="form-group-campaign col-md-6">
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div  class="form-group-campaign col-md-6">
    <%= form.label :telephone, style: "display: block" %>
    <%= form.text_field :telephone, class: "form-control" %>
  </div>

  <div  class="form-group-campaign col-md-6">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div  class="form-group-campaign col-md-6">
    <%= form.label :report_type, style: "display: block" %>
    <%= form.select :report_type, CampaignReport.report_types.map { |val| [val[0], val[0]] } %>
  </div>

  <div  class="form-group-campaign col-md-6">
    <%= form.label :office, style: "display: block" %>
    <%= form.select :office, Campaign.offices.map { |val| [val[0], val[0]] } %>
  </div>

  <div  class="form-group-campaign col-md-6">
    <%= form.submit 'Next', class: "btn btn-primary btn-custom-color col-md-3 file-upload-button" %>
  </div>
<% end %>
