<div class="wrapper">
  <%= render "shared/sidebar" %>

  <div class="main">

    <div class="content">
      <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Campaigns</li>
          <li class="breadcrumb-item active" aria-current="page"><%= @campaign.name %></li>
        </ol>
      </nav>

      <div id="<%= dom_id @campaign %>" class="candidate-header">
        <h3 class="candidate-name-header">
          <div><%= @campaign.name %></div>
        </h3>
        <div>
          <%= @campaign.office + " Candidate" %>
        </div>
        <div>
          <%= @campaign.election.title %>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span8">
              <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <%= link_to "Summary", @campaign, class: "nav-link"%>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Filings", campaign_campaign_reports_path(@campaign.id), class: "nav-link" %>
                  </li>
                  <li class="nav-item active">
                    <%= link_to "Contact", contact_campaign_path, class: "nav-link active-custom" %>
                  </li>
              </ul>
          </div>
        </div>

        <hr>

        <div class="campaign-contact-content p-3">
            <div class="financial-totals-box">
                <div class="summary-box-title">Contact</div>
                <div class="financial-totals-container">
                  <div class="financial-totals-content">
                      <h3>Address</h3>
                      <div class="financial-totals-variable">
                        <%= @campaign.street %>
                        <%= @campaign.city %>
                      </div>
                  </div>
                  <div class="financial-totals-content">
                      <h3>Phone</h3>
                      <div class="financial-totals-variable">
                        <%= @campaign.telephone %>
                      </div>
                  </div>
                  <div class="financial-totals-content">
                      <h3>Email</h3>
                      <div class="financial-totals-variable">
                        <%= @campaign.email %>
                      </div>
                  </div>
                </div>
            </div>
            </div>

    </div>

  </div>
</div>