<p style="color: green"><%= notice %></p>

<%= render @campaign_schedule_a1 %>

<div>
  <%= link_to "Edit this campaign schedule a1", edit_campaign_schedule_a1_path(@campaign_schedule_a1) %> |
  <%= link_to "Back to campaign schedule a1s", campaign_schedule_a1s_path %>

  <%= button_to "Destroy this campaign schedule a1", @campaign_schedule_a1, method: :delete %>
</div>
