<p style="color: green"><%= notice %></p>

<%= render @contributor %>

<div>
  <%= link_to "Edit this contributor", edit_contributor_path(@contributor) %> |
  <%= link_to "Back to contributors", contributors_path %>

  <%= button_to "Destroy this contributor", @contributor, method: :delete %>
</div>
