<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Clerks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <%= link_to "ClerkApp", root_path %>
        </div>

        <ul class="list-unstyled-components">
          <li><%= link_to "Candidates", campaigns_path %></li>
        </ul>
      </nav>

      <section class="container">
        <%= yield %>
      </section>
  
    </div>
  </body>
</html>
