<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Clerks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
