<!DOCTYPE html>
<html>
  <head>
    <title>Clerks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
		<h1>
			<img src=<%= asset_path("ballot_check.png") %> class="head_img"></img>
			<%= link_to "ClerkApp", root_path %>
		</h1>
	</div>
	<div class="div_yield">
	    <%= yield %>
	</div>
  </body>
</html>
