<%= form_with url: campaign_campaign_reports_path do |form| %>
  <% if campaign_report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(campaign_report.errors.count, "error") %> prohibited this campaign_report from being saved:</h2>

      <ul>
        <% campaign_report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

              
  <%= form.label :spreadsheet, "Finance Report" %>
  <%= form.file_field :spreadsheet, style: "display: block", accept: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %>
  <%= form.submit "Submit" %>
<% end %>
