<div class="wrapper">
  <%= render "shared/sidebar" %>

  <div class="main">

    <div class="content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Campaigns</li>
          <li class="breadcrumb-item active" aria-current="page"><%= @campaign.name %></li>
        </ol>
      </nav>

      <div id="<%= dom_id @campaign %>" class="candidate-header">
        <h3 class="candidate-name-header">
          <div><%= @campaign.name %></div>
        </h3>
        <div>
          <%= @campaign.office + " Candidate" %>
        </div>
        <div>
          <%= @campaign.election.title %>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="">
              <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <%= link_to "Summary", @campaign, class: "nav-link"%>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Filings", campaign_campaign_reports_path(@campaign.id), class: "nav-link active-custom" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Contact", contact_campaign_path(@campaign.id), class: "nav-link" %>
                  </li>
              </ul>
          </div>
        </div>

        <hr>

        <div class="card border-0 p-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="campaign-table-header">Report Name</th>
                <th scope="col" class="campaign-table-header">Start Period</th>
                <th scope="col" class="campaign-table-header">End Period</th>
                <th scope="col" class="campaign-table-header">Due Date</th>
                <th scope="col" class="campaign-table-header">Status</th>
                <th scope="col" class="campaign-table-header">Filed Date</th>
              </tr>
            </thead>
            <tbody>
              <% @campaign.campaign_reports.order('report_type').each do |report| %>
                <tr>
                  <td scope="row"><%= link_to report.report_type, [@campaign, report], class: "campaign-report-link" %></td>
                  <td class="campaign-table-data">11/20/2022</td>
                  <td class="campaign-table-data">02/01/2022</td>
                  <td class="campaign-table-data">02/01/2022</td>
                  <td class="campaign-table-data">Filed</td>
                  <td class="campaign-table-data"><%= report.created_at.strftime("%Y-%m-%d") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="p-4">
              <p>Upload new campaign finance report</p>
              <%= form_with url: campaign_campaign_reports_path(@campaign) do |form| %>
                <%= form.label :spreadsheet, "Finance Report" %>
                <%= form.file_field :spreadsheet, style: "display: block", accept: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %>
                <%= form.submit "Submit" %>
              <% end %>

          </div>
        </div>

<%# commented for demo purposes %>
        <%# <div> %>
          <%# <%= link_to "Edit this campaign", edit_campaign_path(@campaign) %> 
          <%# | %>
          <%# <%= link_to "Back to campaigns", campaigns_path %>

          <%# <%= button_to "Destroy this campaign", @campaign, method: :delete %>
        <%# </div> %>
      </div>

    </div>

  </div>
</div>

